.image{
    position: relative;
    display: inline-block;

    
}
.text
{
    position: absolute;
    top: 80%; 
    left: 20%; 
    transform: translate(-60%, -60%);
    
    padding: 10px;
}
.text p {
    margin-left: 650px;
    margin-top: 50px;
    color:rgb(255, 255, 0); /* Adjust text color */
    text-indent:50px;
font-size: xx-large;
    padding: 0px;
    

  }
  body
  {
    
    
  }
  